<div id="divToolbar"></div>
<mat-toolbar id="toolbar">

    <img routerLink="" id="logo" [ngClass]="{cursor:  isLogin}" [src]="logo" alt="Logo">

    <label id="titulo">Afiliados</label>

    <div id="DivProfile" (mouseleave)="MouseLeaveChangeOpcion()">

        <mat-label class="laber" *ngIf="opcion">{{this.login.UserName()}}</mat-label>

        <mat-label class="laber" id="laberProfile" *ngIf="opcion && isLogin" (click)="LogOut()">Cerrar sesión</mat-label>

        <img id="ImgProfile" [ngClass]="{cursor: isLogin}" (click)="ClickChangeOpcion()" [src]="profile" alt="Profile" />

    </div>

</mat-toolbar>


<div id="body">

    <menu class="menuLaterar" *ngIf="isLogin">

    </menu>

    <app-container id="container" [ngClass]="{container1: isLogin == true}" [ngClass]="{container2: isLogin != true}">

    </app-container>

</div>