#divToolbar {
    height: 20px;
}

#toolbar {
    background: black;
    margin-bottom: 20px;
    height: 60px;
    width: 100%;
}

#logo {
    width: 200px;
    height: 100px;
}

#titulo {
    position: relative;
    top: 10px;
    color: white;
    margin-left: 10px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

#DivProfile {
    color: white;
    position: absolute;
    right: 10px;
}

#ImgProfile {
    width: 50px;
    height: 50px;
}

.cursor {
    cursor: pointer;
}

.laber {
    margin: 3px;
}

#DivProfile #laberProfile:hover {
    cursor: pointer;
    color: grey;
}

#body {
    width: 100%;
    height: Calc(100% - 100px);
    padding: 5px;
    display: flex;
}

.menuLaterar {
    width: 20%;
    box-sizing: border-box;
    margin: 0px;
    margin-right: 5px;
    padding-inline-start: 0px;
}

.container1 {
    width: 85%;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid lightgray;
    overflow-y: hidden;
    overflow-x: auto;
}

.container2 {
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid lightgray;
    overflow-y: hidden;
    overflow-x: auto;
}
