<mat-expansion-panel hideToggle *ngFor='let opM of optionsMenu'>

    <mat-expansion-panel-header routerLink="{{opM.routerLink}}">

        <mat-panel-title>
            <mat-icon>{{opM.icon}}</mat-icon> {{opM.menuName}}
        </mat-panel-title>

    </mat-expansion-panel-header>

    <div>

        <mat-expansion-panel-header routerLink="{{op.routerLink}}" *ngFor="let op of opM.subMenu">

            <mat-panel-title>
                <mat-icon>{{op.icon}}</mat-icon> {{op.menuName}}
            </mat-panel-title>

        </mat-expansion-panel-header>

    </div>

</mat-expansion-panel>